dl dd {
  margin-left: 1rem !important;
  padding-left: 0.25rem;
}

button.pdf-export {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  width: fit-content;
  padding: 0.25rem;
  line-height: 0;
  transition: opacity 0.2s;
}

button.pdf-export:hover {
  opacity: 0.6;
}

mjx-assistive-mml {
  display: none !important;
}