assets/

abbts/data/PYT_G01/_sources/
abbts/data/MAT_AGW/_sources/
abbts/data/DAT_ENG/_sources/
.buildinfo
**/.buildinfo
objects.inv
**/objects.inv
.ipynb_checkpoints/
.ipynb_checkpoints
ipynb_checkpoints/
ipynb_checkpoints
**/.ipynb_checkpoints/
**/.ipynb_checkpoints
**/ipynb_checkpoints/
**/ipynb_checkpoints